.card {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
}

.imageWrapper {
  position: relative;
  width: 100%;

  height: 300px;
  background-color: #f6f6f6;
  overflow: hidden;
}

.image {
  object-fit: contain;
  padding: 10px;
  transition: transform 0.3s ease;
}

.card:hover .image {
  transform: scale(1.05);
}

.details {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.title {
  font-size: 14px;
  font-weight: 700;
  color: var(--foreground);
  text-transform: uppercase;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}

.infoRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  color: var(--gray-medium);
}

.heartBtn {
  background: none;
  border: none;
  cursor: pointer;
}

/* Mobile layout*/
@media (max-width: 768px) {
  .title {
    font-size: 12px;
  }
  .infoRow {
    font-size: 12px;
  }
  .imageWrapper {
    height: 200px;
  }
}
