:root {
  --background: #ffffff;
  --foreground: #000000;
  --gray-light: #e5e5e5;
  --gray-medium: #888888;
  --gray-dark: #252020;

  --font-heading: "Inter", sans-serif;
  --font-body: "Inter", sans-serif;

  --spacing-sm: 8px;
  --spacing-md: 16px;
  --spacing-lg: 32px;
  --spacing-xl: 64px;

  --container-width: 1440px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;

  font-family: var(--font-body);
  color: var(--foreground);
  background: var(--background);
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  max-width: var(--container-width);
  margin: 0 auto;
  padding: 0 var(--spacing-md);
}

@keyframes shimmer {
  0% {
    opacity: 0.6;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.6;
  }
}
