.main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--background);
}

.productSection {
  margin: 0 auto;

  width: 100%;
  padding: 40px;
}

.filterBar {
  padding: 20px 0;
  border-top: 1px solid var(--gray-light);
  border-bottom: 1px solid var(--gray-light);
  margin-bottom: 30px;
  font-weight: 700;
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filterLeft {
  display: flex;
  gap: 20px;
  align-items: center;
}

.filterToggle {
  cursor: pointer;
  background: none;
  border: none;
  font-weight: 700;
  text-decoration: underline;
  color: var(--gray-medium, #888);
  display: block;
}

.sortDropdown {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 10;
}

.selectInput {
  border: none;
  font-weight: 700;
  text-transform: uppercase;
  background: transparent;
  cursor: pointer;
  outline: none;
  font-family: inherit;
  font-size: 14px;
  min-width: 140px;
}

.contentLayout {
  display: flex;
  gap: 30px;
  position: relative;
  align-items: flex-start;
}

.grid {
  flex: 1;
  display: grid;
  gap: 16px;
  row-gap: 40px;

  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
}

/* Mobile Layout*/
@media (max-width: 768px) {
  .filterToggle {
    display: none;
  }
  .productSection {
    padding: 20px;
  }

  .contentLayout {
    flex-direction: column;
  }

  .grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 10px;
  }
}
